@font-face {
  font-family: 'avenirNext';
  src: url('./AvenirNext-DemiBold/AvenirNext-Demi.eot');
  src: url('./AvenirNext-DemiBold/AvenirNext-Demi.woff2') format('woff2'),
       url('./AvenirNext-DemiBold/AvenirNext-Demi.woff') format('woff'),
       url('./AvenirNext-DemiBold/AvenirNext-Demi.ttf') format('truetype'),
       url('./AvenirNext-DemiBold/AvenirNext-Demi.svg#AvenirNext-Demi') format('svg'),
       url('./AvenirNext-DemiBold/AvenirNext-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'avenirNext';
  src: url('./AvenirNext-Medium/AvenirNext-Medium.eot');
  src: url('./AvenirNext-Medium/AvenirNext-Medium.woff2') format('woff2'),
       url('./AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'),
       url('./AvenirNext-Medium/AvenirNext-Medium.ttf') format('truetype'),
       url('./AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg'),
       url('./AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenirNext';
  src: url('./AvenirNext-Regular/AvenirNext-Regular.eot');
  src: url('./AvenirNext-Regular/AvenirNext-Regular.woff2') format('woff2'),
       url('./AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'),
       url('./AvenirNext-Regular/AvenirNext-Regular.ttf') format('truetype'),
       url('./AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg'),
       url('./AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
